<div class="mt-5">
    <h1>Precio</h1>
    <p>{{description}}</p>
</div>
<div class="d-flex justify-content-evenly">
    <div class="card border border-opacity-25 mb-3 box">
        <div class="card-header">Libre</div>
        <div class="card-body text-secondary">
          <h3 class="card-title"><span>$ 0</span> / mes</h3>
          <p class="card-text">10 usuarios inclidos <br> 2 GB de almacenamiento <br> Soporte de correo electrónico <br> Acceso al centro de ayuda</p>
          <button type="button" class="btn btn-outline-primary">Registrate gratis</button>
        </div>
    </div>
    <div class="card border border-opacity-25 mb-3 box">
        <div class="card-header">Pro</div>
        <div class="card-body text-secondary">
          <h3 class="card-title"><span>$ 15</span> / mes</h3>
          <p class="card-text">20 usuarios inclidos <br> 10 GB de almacenamiento <br> Soporte prioritario por correo electrónico <br> Acceso al centro de ayuda</p>
          <button type="button" class="btn btn-primary">Empezar</button>
        </div>
    </div>
    <div class="card border border-opacity-25 mb-3 box">
        <div class="card-header">Empresa</div>
        <div class="card-body text-secondary">
          <h3 class="card-title"><span>$ 29</span> / mes</h3>
          <p class="card-text">30 usuarios inclidos <br> 15 GB de almacenamiento <br> Soporte telefónico y por correo electrónico <br> Acceso al centro de ayuda</p>
          <button type="button" class="btn btn-primary">Contáctenos</button>
        </div>
    </div>
</div>

